
.contenedor-detalle{
    position: relative;
    top: 7rem;
    width: 100%;
    min-height: 85vh;
    margin-bottom: 10rem;     
}
h1{
    text-align: center;
    padding: 2rem 0;    
    color: #ff0080;
}