.contenedor-detalle-producto {
    width: 80%;
    min-height: 60vh;
    background-color: #f3f3f3;
    border-radius: 20px;
    border: 1px solid #ff0080;
    transform: scale(0.9);
    box-shadow: 0px 15px 30px -15px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
h2 {
    text-align: center;
    padding: 2rem 0;
    color: #ff0080;
}

.contenedor-img-detalle {
    background-color: #d2d2d2;
    border-radius: 20px;  
    width: 80%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.img {
    width: 60%;
    cursor: zoom-in;
    transition: all 0.3s ease-in-out;
}

.img:hover {
    transform: scale(1.1);
}

.contenedor-informacion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 1rem 2rem 1rem 0;  
}

.cat {
    margin-top: 1rem;
    padding-top: 1rem ;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff0080;   
}
.cat::first-letter{
    text-transform: uppercase;
}

.desc {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.precio {
    font-size: 1.5rem;
    font-weight: 600;
}